.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: none;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.input {
  display: block;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  padding: 4;

  border: 1px solid #000;
  border-radius: 4px;
  outline: 0px solid transparent;
}



.btn-submit {
  display: block;

  background-color: #4d5ae5;
  color: #fff;

  margin-bottom: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 6 10;

  border-radius: 4px;
  border-color: transparent;

  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.btn-submit:hover{
  background-color: #000;
}

.load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 8px 20px;
  background-color: #4d5ae5;
  color: #fff;
  border-radius: 4px;
  border-color: transparent;
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

}

.load-more:hover {
  background-color: #000;
}

.load-more-hidden {
  display: none;
}

.photo-card {
  width: 300px;
}

.end-results {
  font-size: 36px;
}